<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div th:each="cliente : ${clientes}">
    <div th:text="${cliente.nome}">Nome</div>
    <div>Valor $<span></span></div>
    <div>Data da entrega</div>
    <div>Produto</div>
    <div>url do produto</div>
    <div>Descrição</div>
    <div>
      <textarea>
        text area
      </textarea>
    </div>
    <div>
      <img src="">
    </div>
  </div>
</body>

</html>